sudo: false

language: go

go:
  - '1.13.x'

services:
  - docker

notifications:
  email: false

branches:
  only:
    - master

cache:
  directories:
    - $HOME/gopath/pkg/mod         # Cache the Go modules


jobs:
  include:
    - stage: build
      script: make build
    - stage: docs build
      if: type != pull_request
      script:
        - sh build/bin/trigger-docs-travis $TRAVIS_API_TOKEN
